<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>hfeiss | reservations</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!-- [if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]
    <script src="../static/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- [if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif] -->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" style="max-width: 10in">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Recreation.gov Historical Reservations</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" style="max-width: 10in">
          <ul class="nav navbar-nav">
            <li><a href="/">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid" style="max-width: 10in">
        <p></p>
      <center>
      <img src="static/images/lookout.jpg" width="100%" class="img-fluid">
      </center> 
      <h2 id="background">Background</h2>
        <p>
        Established in 2003, <a href="https://www.recreation.gov">recreation.gov</a> manages over 3 million reservations every year for US public lands such as National Parks, Forest Service Campgrounds, and BLM. These reservations range from permit lotteries to firetower rentals.
        <p></p>
        Every reservation made from 2006 through 2018 is available for public download via the RIDB API: about 10 gigabytes of data.
        </p><p>
        This repository explores how far a customer is willing to travel to a campground and how long they stay once there.
        </p>

      <h2 id="purpose">Data</h2>
        <center>
            <img src="static/images/ridb.png" width="100%" class="img-fluid">
        </center> 
        <p>
            The reservation data is provided as a seperate .csv for every year. Each year has 57 columns, 22 of which are (mostly) one-hot encoded category types. This analysis included:
        </p><p>
        <li>OrderNumber</li>
        <li>UseType</li>
        <li>FacilityID</li>
        <li>FacilityZIP</li>
        <li>FacilityLongitude</li>
        <li>FacilityLatitude</li>
        <li>CustomerZIP</li>
        <li>TotalPaid</li>
        <li>StartDate</li>
        <li>EndDate</li>
        <li>OrderDate</li>
        <li>NumberOfPeople</li>
        <li>Tent</li>
        <li>Popup</li>
        <li>Trailer</li>
        <li>RVMotorhome</li>
        <li>Boat</li>
        <li>Car</li>
        <li>FifthWheel</li>
        <li>Van</li>
        <li>CanoeKayak</li>
        <li>BoatTrailer</li>
        <li>PowerBoat</li>
        <li>PickupCamper</li>
        <li>LargeTentOver9x12</li>
        <li>SmallTent</li>
        </p><p>
            In addition to the reservations, relational databases of campground information are also available for download. One can extract another 50 attributes for every <code>FacilityID</code>.
        </p>
      
        <h2 id="data">Exploratory Analysis</h2>
        <p>
            EDA reveals relatively messy data. Of the 29,055,989 reservations, 12 columns have data in less than 1% of the rows. Many usefull columns are 60% null.
          <center>
            <img src="static/images/nulls.png" width="100%" class="img-fluid">
          </center>
        </p>
        <p>
            Interestingly, <code>Marinaboat</code> has only one non-null value in all of the years. Further, that one non-null is not boolean:
        <center>
        <img src="static/images/marinaboat.png" width="100%" class="img-fluid">
        </center>    
        </p><p>
            Also, it is doubtful that someone parked their boat 5 miles inland at <a href="https://www.recreation.gov/ticket/facility/253731">Haleakala National Park's sunrise hike:</a>
            <center>
                <img src="static/images/marinaboat.jpg" width="100%" class="img-fluid">
            </center> 
        </p><p>
            Formatting within the columns is mostly consistent, but does require type casting, truncation, and removing impurities.
            <center>
                <img src="static/images/baddata.png" width="100%" class="img-fluid">
            </center> 
        </p><p>
            For most queries, 35% of the data is removed for either formating or nulls. For sorting by <code>FacilityZIP</code>, an unfortunate 60% is removed due to nulls, but typically at least 1 million rows remain in each year's data.
        </p>

      <h2>Methods</h2>
      <h4 id="nlp">Big Data</h4>
        <p>
            This project uses an Amazon Web Service's m5a.8xlarge EC2 instance. The instance runs and starts a docker pyspark container. The scripts in <a href="https://github.com/hfeiss/campingreservations">GitHub repo</a> issue SQL queries into a SparkContext for cleaning.
        </p><p>
            Additionally, ZIP codes are converted into latitudes and longitudes, then the distance between the customer's home and the facility is calculated, adding a column for each step. The average computation time is 45 minutes per year's data.        </p>
        </p><p>
            Lastly, the results are saved as .pickles in the data/cleaned directories. The clean .pkl files are moved into AWS S3 storage, for backup / download with the S3 scripts.
        </p><p>
            All scripts are built to run on every file in a specified directory. Adding future years to the analysis is done by simply adding a .csv in the raw folder, and running all necessary srcripts.
        </p>

        <h4>
            Matplotlib
        </h4>
        <p>
            For first analysis, a histogram of the duration of stays is created. This histogram is used to decide the two <code>LengthOfStay</code> bins: weekend trips and trips longer than two nights; roughly half of the reservations belong in each category.
        </p>
            <center>
            <img src="static/images/HistogramOfNights.png" width="100%" class="img-fluid">
            </center>
        <p>
            One's intuition is likely correct here. Reservations are usually two nights: the length of a weekend. Counts rapidly decline until another steep drop between 7 and 8 nights: the length of a week. Finally, there's a small spike at 14 nights: the maximum length of stay at most facilities.
        </p>

        <h4>Folium, selenium, and PIL</h4>
        <p>
            Folium is used to generate maps of the average distance between the <code>CustomerZIP</code> and the campground's location grouped by either the <code>CustomerState</code> or the <code>FacilityState</code>. Selenium.webdriver is used to generate .png images from folium's interactive maps, and PIL converts the .png files into a .gif as seen above.
        </p>
        
        
        <a name="conclusions"></a>
        <h2>
            Conclusions
        </h2>
       
        <h4>Distance Traveled vs. Number of Nights</h4>
        <p>
            This analysis found no direct correlation between the average distance traveled<sup><a href="#myfootnote1">[1]</a></sup> and number of nights one stays at a facility. In almost every year, the standard deviation of the averages is greater than the mean itself.
        </p><p>
            The power of this test is reduced by reservations made to/from Alaska and Hawaii where the distances are inherently larger than other states. Computation time did not allow for excluding these states as outliers.
        </p><p>
            That being said, the statistical distribution of the <em>averages for each year</em>     do appear to differ with a pseudo p value of = 0.016
        </p>
        <center>
            <img src="static/images/hypothesistest.png" width="100%" class="img-fluid">
        </center>
        <p>
            These results are counterintuitive; it seems people travel longer the shorter the stay. A further complication is that driving 650 miles one way for "weekend warrior" trip is very unrealistic.
        </p><p>
            Fundamentally, this analysis is likely not accounting for how people actually camp. The premis that distance traveled to a facility is equal to the distance from the home address is evidently wrong. In reality, it is possible that reservations are linked together on road trips longer than a weekend, where the distance actually traveled is much less than the distance all the way home.
        </p><p>
            The large proportion of reservations made for RV's and other motorized transport adds evidence to this notion.
        </p><p>
            <center>
                <img src="static/images/TypeOverTime.png" width="100%" class="img-fluid">
            </center>   
        </p>

        <a name="maps"></a>
        <h4>Maps</h4>
        <h5>Distance by Customer's State</h5>
        <p>
            Furthermore, on average, reservations made from the North East and Florida<sup><a href="#myfootnote2">[2]</a></sup> are for a distance of greater than 1,000 miles. The .gif below shows the average reservation distance grouped by customer state: the distance someone travels based on where they live.
        </p><p>
            <center>
                <img src="static/images/CustomerState.gif" width="100%" class="img-fluid">
            </center>   
        </p>
        <h5>Distance by Destination's State</h5>
        <p>
            Lastly, the .gif below shows the average reservation's distance, grouped by the facility's state: how far one is willing to travel to a state given the camping oportunities in that state.
        </p><p>
            <center>
                <img src="static/images/FacilityState.gif" width="100%" class="img-fluid">
            </center>   
        </p><p>
            Year after year, reservations are made from across the world to visit Alaska and Arizona (or more accurately, the Grand Canyon).
        </p><p>
            <center>
                <img src="static/images/manko.jpg" width="100%" class="img-fluid">
            </center>   
        </p>


        <h2>Further Analysis</h2>
        <h5>Combine all Years</h5>
        <p>
            All years should be combined into one DataFrame for queries and statistical analysis. While partitioning by year is convenient, it eliminates the ability to perform true hypothesis testing.
        </p>
        <h5>Histograms</h5>
        <p>
            A histogram of distance traveled is more useful than the mean and standard deviation alone. While difficult to formulate in a pyspark.sql query, histograms are more appropriate than statistical distributions in this analysis.
        </p>
        <h5>More granular maps</h5>
        <p>
            Cleaned DataFrame .pkl files with distance traveled, grouped by customer and facility ZIP codes, are also saved. More detailed mapping is feasible and potentially illuminating. Maps for average length of stay per region could also be produced.
        </p>
        <h5>Track <code>CustomerId</code>, not <code>ReservationId</code></h5>
        <p>
            If tracking the last known reservation by customer is possible, one could prove / disprove the basis of the distance traveled calculation.
        </p>

        <h2>Footnotes</h2>
        <p>
            <a name="myfootnote1">1</a>: as calculated by the orthodromic distance between a reservation's `customerZIP` code to a facility's (`FacilityLatitude`, `FacilityLongitude`). As mentioned in the conclusions, this is likely an inaccurate measurement of the distance *actually* traveled.
        </p><p>
            <a href="#conclusions">Back to Conclusions</a>
        </p><p>
            <a name="myfootnote2">2</a>: and Hawaii and Alaska, which could be excluded as outliers.
        </p><p>
            <a href="#maps">Back to Maps</a>
        </p>
    </div><!-- /.container -->
 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>